html,body,div,  
h1,h2,h3,h4,h5,h6,p,ul,ol,li,a,img,form,input,button,textarea,table,thead,tbody,tr,th,td,section,header,footer,nav,main,article,aside,figure,figcaption,canvas,video,audio,details,summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
body {
  height: 100%;
  background-color: #fff;
}
#app {
  height: 100%;
  
}



img {
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {    
  font-family: inherit;    
  font-size: inherit;                     
  line-height: inherit;    
  padding: 0.5em;    
  margin: 0.5em;    
  border: 1px solid #ccc;    
}
.common-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.el-container {
  height: 100%;
}

.el-header {
  background-color: #3a8ee6; /* 可调整 */
  color: #fff;
  text-align: center;
  padding: 16px;
  font-size: 20px;
}

.el-aside {
  background-color: #324057;
  color: #fff;
  padding: 16px;
}

.el-main {
  background-color: #f5f5f5;
  padding: 20px;
  color: #333;
}